@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius: var(--radius);
}

:root {
  --background: #121212;
  --foreground: #ffffff;

  --card: #1a1a1a;
  --card-foreground: #ffffff;

  --popover: #121212;
  --popover-foreground: #ffffff;

  --primary: #c5a47e;
  /* Gold */
  --primary-foreground: #171717;

  --secondary: #27272a;
  --secondary-foreground: #ffffff;

  --muted: #27272a;
  --muted-foreground: #a1a1aa;

  --accent: #c5a47e;
  --accent-foreground: #171717;

  --destructive: #7f1d1d;
  --destructive-foreground: #ffffff;

  --border: #27272a;
  --input: #27272a;
  --ring: #c5a47e;

  --radius: 0rem;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}